.person{
  border:1px solid #ccc;
  box-shadow:0 2px 2px #ccc;
  width: 200x;
  padding: 20px;
  color: brown;
}
.App{
  text-align: center;
  color: blueviolet;

}
.btn-change-name {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
