.person{
  border:1px solid #ccc;
  box-shadow:0 2px 2px #ccc;
  width: 200x;
  padding: 20px;
  color: brown;
}

.App{
  text-align: center;
  color: blueviolet;

}
.red{
  color: red;
}
.bold{
  font-weight: bold;
}
.btn-change-name {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  font-family: Comic Sans MS, Comic Sans, cursive	;
  display: inline-block;
  cursor: pointer;
}
.btn-change-name:active{
  color: #fff;
  background-color:#ccc;
  border-color: #17a2b8;
  font-family: Comic Sans MS, Comic Sans, cursive	;
  display: inline-block;
  cursor: pointer;
}

.title{
  font-family: Jazz LET, fantasy	;
}
